/* Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Neuton */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  /* Container widths */
  --container-width-main: 100%;
  --container-width-lg: 70%;
  --container-width-tab: 80%;
  --container-width-sm: 94%;

  /* Radius */
  --radius-1: 0.5rem;

  /* Colors */
  --color-black: #000000;
  --color-greyText: #777777;
  --color-bgWhite: #FFFFFF;
  --color-offWhite: #FDFDFD;
  --color-blackGrey: #363737;

  /* Font Family */
  --inter: "Inter",
    sans-serif;
  --openSans: "Open Sans",
    sans-serif;
  --neuton: "Neuton",
    serif;

  /* Typography */
  --fontSize-1: 2rem;
  --fontSize-2: 1.5rem;
  --fontSize-3: 1.125rem;
  --fontSize-4: 1rem;
  --fontSize-5: 0.875rem;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  line-height: 1.7;
  scroll-behavior: smooth;
  text-decoration: none;
}

a {
  color: var(--color-blackGrey);
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: var(--container-width-main);
  height: auto;
  background-color: var(--color-offWhite);
}

strong {
  font-weight: 600;
}

/* Nav Starts here */

nav {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: transparent;
  backdrop-filter: blur(8px);
  z-index: 1;
  border-bottom: 0.031rem solid rgba(0, 0, 0, 0.052);
  position: sticky;
  top: 0;
  color: var(--color-blackGrey);
}

nav .nav-items {
  width: var(--container-width-lg);
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

nav .nav-items .nav-item-left {
  width: fit-content;
  height: auto;
}

nav .nav-items .nav-item-right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2.5rem;
  font-family: var(--inter);
  font-size: var(--fontSize-5);
  color: var(--color-blackGrey);
}

/* Nav Ends here */

/* Main Starts here */
main {
  width: 100%;
  height: auto;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  font-family: var(--inter);
  /* padding-bottom: 6rem; */
}

main .main-items {
  width: var(--container-width-main);
  display: flex;
  flex-direction: column;
  justify-content: start;
  /* padding-bottom: 7.5rem; */
}

main .main-items .top {
  width: 100%;
  height: auto;
  color: var(--color-black);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 6rem 0;
  background-color: #F4F4F4;
  background-image: url(./custom-img/bg.png);
}

main .main-items .top .heading-img-container {
  width: var(--container-width-lg);
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* background-color: beige; */
}

main .main-items .top .heading-img-container .left {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 4rem;
}

main .main-items .top .heading-img-container .left .link {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: .4rem;
}

main .main-items .top .heading-img-container .left .head {
  width: 50%;
  font-size: 3.5rem;
  line-height: 1.125;
}


main .main-items .bottom {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  font-family: var(--openSans);
  /* padding: 6rem 0; */
  /* background-color: beige; */
}

main .main-items .bottom .content-container {
  width: var(--container-width-lg);
  height: auto;
  color: var(--color-blackGrey);
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  /* background-color: tomato; */
  /* padding: 6rem 0; */
  /* gap: 2rem; */
}

main .main-items .bottom .content-container .left {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 6rem 0;
  position: sticky;
  top: 2rem
    /* background-color: grey; */
}

main .main-items .bottom .content-container .left .left-top p {
  font-size: var(--fontSize-5);
  font-weight: 600;
  letter-spacing: .12rem;
}

main .main-items .bottom .content-container .left .left-bottom {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 1.125rem;
}

main .main-items .bottom .content-container .right {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 6rem 0;
  /* background-color: rgb(254, 180, 180); */
}

main .main-items .bottom .content-container .right .first-box,
main .main-items .bottom .content-container .right .second-box,
main .main-items .bottom .content-container .right .third-box,
main .main-items .bottom .content-container .right .fourth-box,
main .main-items .bottom .content-container .right .fifth-box,
main .main-items .bottom .content-container .right .sixth-box,
main .main-items .bottom .content-container .right .seventh-box,
main .main-items .bottom .content-container .right .eighth-box,
main .main-items .bottom .content-container .right .ninth-box,
main .main-items .bottom .content-container .right .tenth-box,
main .main-items .bottom .content-container .right .eleventh-box {
  width: 100%;
  height: auto;
  margin-bottom: 4rem;
}

main .main-items .bottom .content-container .right .first-box .line1,
main .main-items .bottom .content-container .right .second-box .line1,
main .main-items .bottom .content-container .right .third-box .line1,
main .main-items .bottom .content-container .right .fourth-box .line1,
main .main-items .bottom .content-container .right .fifth-box .line1,
main .main-items .bottom .content-container .right .sixth-box .line1,
main .main-items .bottom .content-container .right .seventh-box .line1,
main .main-items .bottom .content-container .right .eighth-box .line1,
main .main-items .bottom .content-container .right .ninth-box .line1,
main .main-items .bottom .content-container .right .tenth-box .line1,
main .main-items .bottom .content-container .right .eleventh-box .line1 {
  border-top: .25rem solid var(--color-blackGrey);
  padding: 1.2rem 0 2.5rem;
}

main .main-items .bottom .content-container .right .first-box .line1 h1,
main .main-items .bottom .content-container .right .second-box .line1 h1,
main .main-items .bottom .content-container .right .third-box .line1 h1,
main .main-items .bottom .content-container .right .fourth-box .line1 h1,
main .main-items .bottom .content-container .right .fifth-box h1,
main .main-items .bottom .content-container .right .sixth-box h1,
main .main-items .bottom .content-container .right .seventh-box h1,
main .main-items .bottom .content-container .right .eighth-box h1,
main .main-items .bottom .content-container .right .ninth-box h1,
main .main-items .bottom .content-container .right .tenth-box h1,
main .main-items .bottom .content-container .right .eleventh-box h1 {
  font-family: var(--inter);
  font-size: var(--fontSize-2);
  font-weight: 500;
}

main .main-items .bottom .content-container .right .first-box .line {
  border-top: .05rem solid #D8D8D8;
  padding: .9rem 0;
  display: flex;
  flex-direction: row;
}

main .main-items .bottom .content-container .right .first-box .line p:first-child {
  font-weight: 500;
}

main .main-items .bottom .content-container .right .first-box .line p:last-child {
  font-weight: 400;
}

main .main-items .bottom .content-container .right .first-box .line .italics {
  color: var(--color-greyText);
  font-weight: 300;
}

main .main-items .bottom .content-container .right .first-box .line2 {
  gap: 10rem;
}

main .main-items .bottom .content-container .right .first-box .line3 {
  gap: 9rem;
}

main .main-items .bottom .content-container .right .first-box .line4 {
  gap: 10.7rem;
}

main .main-items .bottom .content-container .right .first-box .line5 {
  gap: 9.2rem;
}

main .main-items .bottom .content-container .right .first-box .line6 {
  gap: 4.5rem;
}

main .main-items .bottom .content-container .right .first-box .line7 {
  gap: 7.2rem;
}

main .main-items .bottom .content-container .right .first-box .line8 {
  gap: 7rem;
}

main .main-items .bottom .content-container .right .first-box .line8 .contributors {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

/* main .main-items .bottom .content-container .right .first-box .line8 .contributors>p:hover {
  color: tomato;
} */

.neuton-container {
  margin: 4rem 0;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.container-neuton {
  border-left: .08rem solid var(--color-black);
  padding-left: 2.5rem;
  margin-bottom: 1.5rem;
}

.text {
  padding-left: 2.5rem;
  margin-bottom: 1.5rem;
  font-size: var(--fontSize-3);
}

.neuton {
  font-size: var(--fontSize-2);
  font-family: var(--neuton);
}

.beneath-neuton-container {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.beneath-neuton-container h4 {
  margin-bottom: 1.2rem;
}

main .main-items .bottom .content-container .right .ninth-box .images {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 2rem;
}

main .main-items .bottom .content-container .right .ninth-box .images img {
  width: 100%;
}

main .main-items .bottom .content-container .right .tenth-box .demo {
  width: 100%;
  height: auto;
}

main .main-items .bottom .content-container .right .tenth-box .demo video {
  width: inherit;
  height: auto;
}

/* Main Ends here */








/* Tablet */
@media (max-width: 1200px) {
  nav .nav-items {
    width: var(--container-width-tab);
  }

  main .main-items .top .heading-img-container {
    width: var(--container-width-tab);
  }

  main .main-items .top .heading-img-container .left .head {
    width: 50%;
    font-size: 3rem;
    line-height: 1.125;
  }

  main .main-items .bottom .content-container {
    width: var(--container-width-tab);
  }

  main .main-items .bottom .content-container .left {
    display: none;
  }
}





/* Mobile */
@media (max-width: 760px) {
  nav .nav-items {
    width: var(--container-width-sm);
  }

  nav .nav-items .nav-item-right {
    gap: 1.5rem;
  }

  main .main-items .top .heading-img-container {
    width: var(--container-width-sm);
  }

  main .main-items .top .heading-img-container .left .head {
    width: 70%;
    font-size: 2.5rem;
    line-height: 1.125;
  }

  main .main-items .top .heading-img-container .right {
    display: none;
  }

  main .main-items .bottom .content-container {
    width: var(--container-width-sm);
  }

  main .main-items .bottom .content-container .right .first-box .line1 h1,
  main .main-items .bottom .content-container .right .second-box .line1 h1,
  main .main-items .bottom .content-container .right .third-box .line1 h1,
  main .main-items .bottom .content-container .right .fourth-box .line1 h1,
  main .main-items .bottom .content-container .right .fifth-box h1,
  main .main-items .bottom .content-container .right .sixth-box h1,
  main .main-items .bottom .content-container .right .seventh-box h1,
  main .main-items .bottom .content-container .right .eighth-box h1,
  main .main-items .bottom .content-container .right .ninth-box h1,
  main .main-items .bottom .content-container .right .tenth-box h1,
  main .main-items .bottom .content-container .right .eleventh-box h1 {
    font-size: 1.25rem;
  }

  main .main-items .bottom .content-container .right .first-box .line2 {
    gap: 5rem;
  }

  main .main-items .bottom .content-container .right .first-box .line3 {
    gap: 4rem;
  }

  main .main-items .bottom .content-container .right .first-box .line4 {
    gap: 5.8rem;
  }

  main .main-items .bottom .content-container .right .first-box .line5 {
    gap: 4.3rem;
  }

  main .main-items .bottom .content-container .right .first-box .line6 {
    gap: 2.4rem;
  }

  main .main-items .bottom .content-container .right .first-box .line7 {
    gap: 2.2rem;
  }

  main .main-items .bottom .content-container .right .first-box .line8 {
    gap: 2rem;
  }

  .container-neuton {
    border-left: .08rem solid var(--color-black);
    padding-left: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .neuton {
    font-size: 1.25rem;
    font-family: var(--neuton);
  }

  .text {
    padding-left: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 1rem;
  }
}